<ion-content>
<div class="bg">
  <ion-button fill="clear" color="light"  routerLink="/tabs/tab1">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <div>
    <ion-icon name="play-circle" color="light" style="font-size: 60px;
    padding-top: 100px;min-width: 360px;"></ion-icon>
  </div>
</div>
<div style="margin-top: -2em;">
  <h2 style="color: white;margin-left:0.5em;">Avengers: Endgame</h2>
    <h6 style="color: white;margin-left:1em;margin-top:-0.5em;font-size: 13px;">
      2019&nbsp;&nbsp;&nbsp;3hr 2m&nbsp;&nbsp;&nbsp;Action/Sci-fi
    </h6>
    <ion-card-subtitle>
      <ion-icon name="star" class="bgColor"></ion-icon>
      <ion-icon name="star" class="bgColor"></ion-icon>
      <ion-icon name="star" class="bgColor"></ion-icon>
      <ion-icon name="star" class="bgColor"></ion-icon>
      <ion-icon name="star" class="bgColor"></ion-icon>
    </ion-card-subtitle>
</div>
<h5 style="color: white;margin-left:0.7em;">Synopsis</h5>
  <p style="color: white;margin-left:0.7em;margin-top: -0.1em;">
    Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text
  </p>
  <p style="color: white;margin-left:0.7em;margin-top: -0.1em;">
   Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's text of the printing standard dummy
    text of the printing ipsum testing lorem app dev
  </p>
  <div class="container-form-btn">
    <button class="form-btn custom-font">
    Buy Tickets
    </button>
  </div>
</ion-content>
